
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('Ressources/chiens.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
}

 /* Mon formulaire de contact */

.divform {
    max-width: 700px;
    margin: auto;
}

.divform h1 {
    margin-top: 8%;
}

h1 {
    font-family: 'Cambria', 'Cochin', 'Georgia', 'Times';
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}

.divform form {
    background-color: rgba(114, 114, 114, 0.477);
    padding: 30px;
    border-radius: 10px;
    font-size: 17px;
    box-shadow: 1px 2px 5px black;
    margin-bottom: 15%;
}

.divform label, input, textarea {
    display: block;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 15px;
}

.divform input, textarea {
    width: 95%;
    padding: 6px;
    border: none;
    border-radius: 5px;
}

.qui{
    width: 280px;
    height: 25px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    margin-left: 15px;
    background-color: rgb(239, 239, 239);
}

#message{
    font-size: 14px;
}

.sub {
    background-color: #2B7BB9;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto;
    font-size: 18px;
    font-weight: bold;
    width: 500px !important; 
    height: 50px;
}

.sub:hover {
    background-color: #1C6399;
}
