*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.6;
}

.surback{
    background-color: rgba(255, 255, 255, 0.5);
}

.entete{
    margin-top: 5%;
}

/* --------------------------------------- */

.contenu{
    display: flex;
    flex-direction: column;
}
.clipvideo{
    width: 100%;
    position:absolute;
    z-index: -1;
    height: fit-content;
}

#CC{
    height: 40vh; /* vh = view height, permet de toujours la garder à 100% */
    display: flex; /* Rend les items flexibles */
    flex-direction: column; /* Afficher en colonne */
    justify-content: center; /* Placer le texte au milieu de l'élement parent */
    align-items: center; /* Placer le texte au milieu de l'axe de x */
    text-align: center; /* Placer le texte au centre, pas utile nécessaire dans ce cas de figure */
    margin-top: 8%;
}

#CC h1{
    color: #2B7BB9;
    font-family: 'Satisfy', 'Cambria', 'Cochin';
    font-style: italic;
    font-size: 120px;
    font-weight: 100;
    margin-top: 2%;
}

#CC p{
    font-size: 22px;
    color: white;
}

#CC .button {
    font-size: 20px;
    text-decoration: none;
    color: #2B7BB9;
    border: 2px solid #2B7BB9;
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 1%;
    font-weight: bold;
}

#CC .button:hover {
    background: #1C6399;
    border: 2px solid #1C6399;
    color: white;
}

/*-------------------- LES SERVICES --------------------*/
table label {
    text-align: center;
}


.QUI {
    background-color: rgba(182, 182, 182, 0.103);
    border-radius: 100px;
    box-shadow: 2px 1px 1px black;
    width: 90%;
    height: 500px;
    margin-top: 8%;
    margin-left: 5%;
    text-align: center;
    font-size: 25px;
    color: #1C6399;
    display: flex;
    align-items: center;
    justify-content: center;
}


#serv a {
    display: block;
    width: 300px; /* Ajustez la largeur selon vos besoins */
    height: 100px; /* Ajustez la hauteur selon vos besoins */
    text-align: center;
    line-height: 95px; /* Assurez-vous que la hauteur de ligne est égale à la hauteur du bouton pour centrer le texte verticalement */
    text-decoration: none;
    color: #fff; /* Couleur du texte */
    background-color: #a6a6a6; /* Couleur de fond */
    border-radius: 5px;
    margin: 30px; /* Espacement entre les boutons */
}

  
#serv img {
    width: 500px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Contenu */
/*
.pp{
    /* text-align: justify; DEJA COMMENTE *//*
    margin-bottom: 50px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    margin-top: 16.5%;
}

.pp h1{
    font-family: 'Cambria', 'Cochin', 'Georgia', 'Times';
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
}

.pp-equipe img{
    width: 300px;
    height: 180px;
    border-radius: 10px;
    margin-left: 100px;
    margin-right: 50px;
}

.pp img:hover{
    box-shadow: 2px 2px 2px black;
}


.btn-missions{
    font-size: 20px;
    text-decoration: none;
    color: rgb(86, 148, 67);
    border: 2px solid rgb(86, 148, 67);
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
}

.btn-missions:hover,
.btn-contact:hover,
.serv a:hover{
    background: rgb(86, 148, 67);
    color: white;
}


.serv{
    display: flex;
}

.serv a{
    width: 200px;
    height: 80px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(86, 148, 67);
    border: 2px solid rgb(86, 148, 67);
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
}


#centrer{
    margin-left: 40px;
}


.btn-contact{
    width: 200px;
    height: 80px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(86, 148, 67);
    border: 2px solid rgb(86, 148, 67);
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    margin-left: 60px;
} */


